<section class="header">
  <p class="page-title">Dashboard</p>
  <div class="settings">
    <div class="customize">
      <img src="assets/tool.svg" alt="" class="tool">
      <p class="title">Customized Dashboard</p>
    </div>
    <div class="date">
      <p class="date-text">Mon, Jun 22, 2020</p>
    </div>
  </div>
</section>

<section class="card-container">
  <div class="left-card">
    <p class="welcome">Welcome back! chidimma.</p>
    <p class="text">See overview of analytics and reporting metrics <br> and a lot more interesting stuffs you can do
      here.</p>
    <button class="tour">take a tour</button>
  </div>
</section>
