<div class="container">
  <div class="left-side"></div>
  <div class="right-side">
    <img src="assets/logo.svg" alt="" class="logo">
    <p class="main-header">Login to <br> your account</p>
    <p class="sub-header">Welcome back! Please login to your account</p>
    <form>
      <input type="text" name="" id="" class="form-input" placeholder="Enter Username" autocomplete="off">
      <input type="password" name="" id="" class="form-input" placeholder="Enter Password" autocomplete="off">
      <button type="submit">Log in</button>
      <a href="" class="forgot-password">Forgot Password?</a>
    </form>
  </div>

</div>
